
body{
	font: 16px;
}

h1{
	color: blue;
	font: sans-serif;
	text-align: center;
}
	

.card{
	background-color:lightgray;
	border: 1px solid;
}


 .card-title{
	border-style: none none solid solid;
	border-width: 1px;
	border-color: black;
	width: 80px;
    text-align: center;
	padding: 5px 25px 5px 25px;
    float:right;
}
#one .card-title{
	background-color:salmon;
}

#two .card-title{
	background-color:red;
	color:white;
}

#three .card-title{
	background-color:cream;
}
	
.info{
	padding: 40px 10px 0 10px;
	
}


/*Desktop*/
@media only screen and (min-width:992px){
	#one{
		float:left;
		width: 32%;
		height: auto;
		margin:5px;
	}

	#two{
		float:left;
		width: 32%;
		height: auto;
		margin:5px;
	}
	
	#three{
		float: left;
		width: 32%;
		height: auto;
		margin:5px;
	}
}

/*Tablet*/
@media only screen and (min-width:768px) and (max-width:991px) {
	#one{
		float:left;
		width: 49%;
		
	}

	#two{
		float: right;
		width: 49%;
	
	}
	
	#three{
		width: auto;
		margin-top: 25px;
		float: right;
		
	}
}

/*Mobile*/
@media only screen and (max-width:767px) {
	#one{
		width: auto;
		margin: 25px 10px 25px 10px;
	}

	#two{
		width: auto;
		margin: 25px 10px 25px 10px;
	}
	
	#three{
		width: auto;
		margin: 25px 10px 25px 10px;
	}
}
